@import "../_break-points.scss";
@import "../_variables.scss";

.ItemListInCart {
  // 491px = 「注文内容」セクションの幅 + 32pxのmargin
  width: calc(100% - 491px);

  @include sm-device-or-less {
    width: 100%;
  }
}

.ItemInCart {
  align-items: flex-start;
  border-bottom: 1px solid $border-gray;
  color: #231f20;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  gap: 32px;

  @include xs-device-or-less {
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__image {
    width: 200px;

    @include xs-device-or-less {
      width: 30%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    @include xs-device-or-less {
      width: calc(70% - 20px);
    }

    span {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__name {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;

    @include xs-device-or-less {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__delete-link {
    color: #2962ff;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 8px;
    text-decoration: underline;
  }
}

.SubTotalForItem {
  flex-shrink: 0;
  width: 200px;

  @include xs-device-or-less {
    width: 100%;
  }

  &__label {
    color: #222;
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  &__select {
    background-color: #f4f5f7;
    border-radius: 4px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;

    &::before {
      content: image-url("cart/select-arrow.svg");
      pointer-events: none;
      position: absolute;
      top: 15px;
      right: 18px;
    }

    select {
      appearance: none;
      -webkit-appearance: none;
      background: transparent;
      background-image: none;
      border: none;
      box-shadow: none;
      cursor: pointer;
      height: 45px;
      outline: none;
      padding: 12px 16px;
      text-overflow: ellipsis;
      width: 100%;

      &::-ms-expand {
        display: none;
      }
    }
  }

  &__price {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    @include xs-device-or-less {
      margin-bottom: 0;
    }

    > span {
      color: #231f20;

      &:first-of-type {
        font-size: 14px;
        line-height: 18px;
      }

      &:last-of-type {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
      }
    }
  }
}