<section class="FirstView">
  <div class="Container FirstViewContainer">
    <h2 class="FirstView__title">
      Stylish. Elegant.<br>
      Modern.
    </h2>

    <p class="FirstView__description">Everything you need, nothing you don’t.</p>
  </div>
</section>