@import "./_break-points.scss";
@import "./_variables.scss";

.Header {
  background-color: $basic-white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.HeaderContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ServiceLogo {
  @include xs-device-or-less {
    width: 134px;
  }
}

.NavigationBar {
  display: flex;
  height: 115px;

  @include sm-device-or-less {
    height: 105px;
  }

  @include xs-device-or-less {
    height: 63px;
  }

  &__menus {
    align-items: center;
    display: flex;
    gap: 51px;
  }

  &__icons {
    align-items: center;
    display: flex;
    margin-left: 56px;
    width: 100%;
  }
}

.NavigationMenuList {
  display: flex;
  gap: 64px;
  word-break: keep-all;

  &__item {
    color: $text-black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @include sm-device-or-less {
      display: none;
    }
  }
}

.NavigationIconList {
  align-items: center;
  display: flex;
  gap: 48px;
  width: 100%;

  @include xs-device-or-less {
    gap: 24px;
  }

  &__item {
    &--search {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;

      &.open {
        ::before {
          @include sm-device-or-less {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.1);
            content: '';
            z-index: 0;
          }
        }

        .NavigationIconWrapper {
          display: none;

          @include sm-device-or-less {
            display: flex;
          }

          &__icon {
            &--closed {
              display: none;

              @include sm-device-or-less {
                display: block;
              }
            }
          }

          &__label {
            display: none;

            @include sm-device-or-less {
              display: block;
            }

            @include xs-device-or-less {
              display: none;
            }
          }
        }

        .NavigationSearchForm {
          display: flex;

          &__icon {
            margin: auto;
          }

          &__input {
            display: block;
          }
        }
      }
    }
  }
}

.NavigationIconWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__icon {
    width: 24px;

    @include xs-device-or-less {
      width: 17px;
    }
  }

  &__label {
    color: $text-black;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    word-break: keep-all;

    @include xs-device-or-less {
      display: none;
    }
  }
}

.NavigationSearchForm {
  display: none;
  width: 100%;

  @include sm-device-or-less {
    position: fixed;
    inset: 0;
    margin: auto;
    height: 55px;
    width: 90%;
    max-width: 500px;
  }

  &__icon-wrapper {
    background-color: #000;
    cursor: pointer;
    display: flex;
    width: 55px;
    height: 55px;
  }

  &__input {
    border: 1px solid #E0E0E0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 8px 12px !important;
    position: static;
    width: 100% !important;

    &::placeholder {
      color: #BEC3C8;
    }
  }
}