<section class="Container CartContainer">
  <h2 class="CartContainer__title">カート</h2>

  <div class="CartWrapper">
    <%= render 'shared/cart/item_list' %>
    <%= render 'shared/cart/order_detail' %>
  </div>
</section>