<div class="OrderDetailsContainer">
  <section class="OrderDetails">
    <h3 class="OrderDetails__title">注文内容</h3>

    <p>
      <span>商品合計</span>
      <span>¥ 9,999</span>
    </p>

    <p>
      <span>送料</span>
      <span>未定</span>
    </p>

    <hr>

    <p class="OrderDetails__total">
      <span>合計</span>
      <span>¥ 99,999</span>
    </p>

    <p>
      <span>内消費税</span>
      <span>¥ 999</span>
    </p>
  </section>

  <button class="OrderButton">購入する</button>
</div>