<section class="Error">
  <%= image_tag("icons/error.jpg", class: "Error__image") %>

  <h2 class="Error__title">500</h2>

  <p class="Error__message">サーバーで問題が発生しているためページを表示できません。</p>

  <%= link_to "ホームに戻る", root_path, class: "Error__link-button" %>
</section>